<div class="jumbotron card mainContent">
  <div class="row" *ngIf="stepper == 'first';">
    <div
        class="form-group col-lg-3 col-md-12 col-sm-12 mt-4"
        id="downloadStatus"
    >
        <button id="download_data"
            type="button"
            class="btn button fa-icon-border"
            (click)="download()"
        >
            Download <i class="fa fa-download fa-icons"></i>
        </button>
      
        <input
          id = "fileInput"
          type="file"
          class="custom-file-input form-control"
          aria-describedby="inputGroupFileAddon01"
          (change)="onUploadAutocadFile($event)"
          autocomplete="off"
        />
    </div>


    <ng-container *ngIf="currentView === 'mapView'">
        <div class="row col-12" style="padding: 10px;">
            <div class="col-12 text-left  p-0 m-0">
                <button id="back_to_list" class="btn btn-default text-muted" (click)="backtoListPage()">
                    <img src="assets/images/sm_back.svg" /> {{ "back" }}
                </button>
            </div>
            <div id="map" class="groove col-12"></div>
        </div>
        <!-- <ng-container *ngTemplateOutlet="floorMap">

        </ng-container> -->
      <!-- <ng-template #floorMap>
        
      </ng-template> -->
    </ng-container>
  </div>

</div>