
@font-face {
    font-family: 'HelveticaNeue-bold';
    src:url('../assets/fonts/helveticaneue/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/helveticaneue/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('../assets/fonts/helveticaneue/HelveticaNeueBoldCondensed.woff') format('woff'),
        url('../assets/fonts/helveticaneue/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src:url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-medium';
    src:url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'OpenSans-bold';
    src:url('../assets/fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src:url('../assets/fonts/open_sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../assets/fonts/open_sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-medium';
    src:url('../assets/fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}