@import "../../styles//variables.scss";

.mainContent-map {
  margin-bottom: 10px;
}
.mat-radio-button:nth-child(2) {
  padding-left: 40px;
}

.showMapAndSelection {
  // height: 900px;
}
#mapid {
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.mapSelection {
  height: 96%;
}
.mapSelection,
.mapSection {
  background-color: #ffffff;
  padding: 15px;
}

.confirmSelection {
  bottom: 0px;
  position: absolute;
}

.selectedSeats {
  height: 800px;
  overflow-y: auto;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.no-border {
  border: none;
  font-size: 12px !important;
}
tr:nth-child(even) {
  background-color: #fff !important;
}
.bottom-right {
  position: absolute;
  bottom: 25px;
  // right: 0;
}
.table-responsive {
  height: 300px;
  overflow-y: scroll;
}
thead tr:nth-child(1) th,
tfoot tr th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
  padding: 10px 40px 10px 10px;
}
.selected-seat {
  height: 300px;
}
.seat-list {
  height: 125px;
  overflow-y: scroll;
}
.list-group-item {
  border: none !important;
  padding: 6px;
}
::ng-deep .seat-list::-webkit-scrollbar,.table-responsive::-webkit-scrollbar {
  width: 5px;
}

::ng-deep .seat-list::-webkit-scrollbar-track,.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

::ng-deep .seat-list::-webkit-scrollbar-thumb,.table-responsive::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #0F1F54; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
mat-slider {
  width: 100%;
}
::ng-deep {
  .ng5-slider {
  }

  .ng5-slider .ng5-slider-pointer {
    // height: 16px !important;
    // width: 16px !important;
    // top: -8px !important;
    height: 11px !important;
    width: 11px !important;
    top: -4px !important;
  }
  .ng5-slider .ng5-slider-pointer:after {
    display: none !important;
  }
}

@media (max-width: 320px) {
  .right-card {
    padding: 0px;
    top: 15px;
  }
}
@media (max-width: 481px) {
  .right-card {
    padding: 0px;
    top: 15px;
  }
}
@media (max-width: 641px) {
  .right-card {
    padding: 0px;
    top: 15px;
  }
}
@media (max-width: 962px) {
  .right-card {
    padding: 0px;
    top: 15px;
  }
}
.user-slide-panel{
  background: #FFF;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33%;
    // min-width: 250px;
    z-index: 999;
    font-family: #{$fontNormal};
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.btn-circle {
  width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    background-color: #848484;
}