<div class="form-group">
    <div>&nbsp;</div>
    <label class="text-uppercase label-search" for="">Search By:&nbsp;&nbsp;</label>
    <mat-radio-group class = "tp-radio-group" (change)="radioOptionsChange()" [(ngModel)] = "radioOptions">
        <mat-radio-button class = "tp-radio-button" value = "users">
            Users
         </mat-radio-button>
        <mat-radio-button class = "tp-radio-button" value = "seats">
           Seats
        </mat-radio-button>
     </mat-radio-group>
</div>
<div class="form-group search-box" *ngIf="isSeats">
    <!-- <label for=""></label> -->
    <input #searchSeats id="search_seats" type="text" class="form-control" placeholder="{{getTranslate('searchBySeat')}}" autocomplete="off" (input)="onSearchUser(searchSeats.value)"/>
</div>
<div class="form-group search-box" *ngIf="isUsers">
    <!-- <label for=""></label> -->
    <input #searchInp id="search_inpput" type="text" class="form-control" placeholder="{{getTranslate('searchByName')}}" autocomplete="off" (input)="onSearchUser(searchInp.value)"/>
</div>
<div class="user-list-container seat-list-container" *ngIf="isSeats && seatListInfo as seatsList">
    <ng-container *ngFor="let item of seatsList">
        <ng-container *ngIf="item?.entityInfo?.displayName">
                <div class="user-info-container seat-info-container d-inline-flex flex-lg-row align-items-center align-middle" (click)="viewSeatNumber(item)">
                    <div class="user-details seat-details">
                        <div class="w-100  text-left align-items font-bold">
                           Seat : {{item.entityInfo?.displayName}}
                        </div> 
                    </div>
                </div>
        </ng-container>
    </ng-container>
    </div>
    
<div class="user-list-container" *ngIf="isUsers && userListInfo as userList">
    <ng-container *ngFor="let item of userList">
        <ng-container *ngIf="item?.user?.name">
                <div class="user-info-container d-inline-flex flex-lg-row align-items-center align-middle" (click)="viewUserSeat(item)">
                    <div *ngIf="!!item.user?.imageUrl;else userLegend" class="map-label-img-container">
                        <img class="d-block user-img w-100 h-100" [src]="item.user?.imageUrl">
                    </div>
                    <ng-template #userLegend>
                        <span  class="text-uppercase legend-circle-dp text-center" >
                            {{getUserLegend(item)}}
                        </span>
                    </ng-template>
                    <div class="user-details">
                        <div class="w-100  text-left user-name">
                            {{item.user?.name}}
                        </div>
                        <div class="w-100  text-left user-desk-info">
                            {{getTranslate('desk')}}: {{item.entityInfo?.displayName}}
                        </div>    
                    </div>
                </div>
        </ng-container>
    </ng-container>
    </div>
    <div class="loadmore-container">
        <button id="load_more_btn" class="loadmore btn btn-main w-100" *ngIf="totalRecordAction$ | async as total" (click)="loadMoreUser(total)">
            {{getTranslate('loadMore')}}   
        </button>
    </div>
  
  