<div class="" style="padding-bottom: 0px !important;">
    <div class="row showMapAndSelection p-4">
        <div
            class="col-12"
            style="padding: 0px; background-color: #fff;"
        >
            <div class="mapSection">
                <div class="pb-4 ml-4">
                    <div class="row">
                        <div class="col-12 text-right">
                            <button id="hide_map"
                                class="btn btn-default text-muted"
                                (click)="hideMap()"
                            >
                                <i
                                    class="fa fa-long-arrow-left"
                                    aria-hidden="true"
                                ></i>
                                Back
                            </button>
                        </div>
                        <div class="col-md-3 text-right">
                        </div>

                    </div>
                    <div id="mapid" class="mt-4 groove"></div>
                </div>
            </div>
        </div>
    </div>
</div>
